<div class="landing-main-container">
    <div class="introduction">
        <span>{{'hello there' | uppercase}}</span>
        <span class="name">{{'i\'m mateusz' | uppercase}}</span>
        <span>{{'i\'m a software developer' | uppercase}}</span>
        <span>{{'currently working at ' | uppercase}}<span class="dps">{{'DPS Software' | uppercase}}</span></span>
        <div class="buttons-container">
            <div class="nav-buttons">
                <button class="btn-primary" (click)="getResume()">{{'resume'|uppercase}}</button>
                <button class="btn-secondary" (click)="goTo('projects')">{{'portfolio'|uppercase}}</button>
            </div>
            <div class="social-buttons">
                <i class='bx bxl-github' (click)="openGH()" ></i>
                <i class='bx bxl-linkedin-square' (click)="openIN()"></i>
            </div>
        </div>
    </div>
    <div class="img-container">
        <div class="portrait-container">
            <img class="portrait-img" src="../../assets/graphics/portraitExtended.png"/>
        </div>
    </div>
</div>