<div class="landing-main-container">
    <div class="introduction">
        <span>{{'hello there' | uppercase}}</span>
        <span class="name">{{'i\'m mateusz' | uppercase}}</span>
        <span>{{'i\'m a software developer' | uppercase}}</span>
        <span>{{'currently working at ' | uppercase}}<span class="dps">{{'DPS Software' | uppercase}}</span></span>
    </div>
    <div class="img-container">
        <div class="portrait-container">
            <img class="portrait-img" src="../../assets/graphics/portraitExtended.jpg"/>
        </div>
    </div>
</div>