<div class="main-nav-container">
    <div class="nav-logo"><a routerLink="/home" routerLinkActive="current-page">{{'zerq' | uppercase}}</a></div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="big-screen-menu">
        <li><a routerLink="/projects" routerLinkActive="current-page">{{'portfolio' | uppercase}}</a></li>
        <li *ngIf="false"><a>{{'blog' | uppercase}}</a></li>
        <li><a routerLink="/about" routerLinkActive="current-page">{{'about me' | uppercase}}</a></li>
        <li *ngIf="false"><a routerLink="/contact" routerLinkActive="current-page">{{'contact' | uppercase}}</a></li>
    </ul>
    <ul class="menu">
        <li><a routerLink="/projects">{{'portfolio' | uppercase}}</a></li>
        <li *ngIf="false"><a>{{'blog' | uppercase}}</a></li>
        <li><a routerLink="/about">{{'about me' | uppercase}}</a></li>
        <li *ngIf="false"><a routerLink="/contact">{{'contact' | uppercase}}</a></li>
      </ul>
</div>