:root{
    --primary-color: #111111;
    --primary-color-rgb: 4,4,76;
    --secondary-color: #aed22a;
    --secondary-color-rgb: 174,210,42;
    --secondary-dark-color: #8baa47;
    --secondary-dark-color-rgb: 115,140,60;
    --secondary-light-color: #C5DA75;
    --secondary-light-color-rgb: 197,218,117;

    --black: #000000;
    --white: #FFFFFF;

    --grey-light: #AAAAAA;
}

html{
    background-color: var(--primary-color);
    
    -ms-overflow-style: none;
    scrollbar-width: none;

    font-family: 'Bakbak One', cursive;
    font-size: 15px !important;
}
